/* *** commons *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1100px;
    margin-bottom: 1px solid black;
}

body{
    font-family: 'Roboto', sans-serif;
}

.left{
    float: left;
}

.rigth{
    float: right;
}

/* ***** header ***** */

header{
    /* font-weight: 600; */
    height: 80px;
    /* background-color: red;  */
    line-height: 80px;
    padding: 0 10px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

#logo{
    padding-right: 10px;
}

#logo , #sinistra {
    float: left;
    display: inline-block;
}
#destra , #bottone{
    float: right;
    display: inline-block;
}

#logo img {
    vertical-align: middle;
}

#bottone {
    vertical-align:middle;
    text-align: right;
}

.btn:hover{
    text-decoration: none;
}

nav{
    width: 100%;
    float: left;
    /* text-align: center;  */
}

nav li{
    display: inline-block;
    text-decoration:none ;
}

nav li a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    margin: 0 20px;
    vertical-align: middle;
}

nav li a:hover{
    text-decoration: underline ;
}

.btn{
    color: black;
    font-size: 15px;
    background-color: white;
    padding:5px 10px;
    border-radius: 2em;
    text-decoration: none;
}

#jumbotron{
    height: 700px;
    background-color: rgb(112, 151, 199);
    background-size: cover;
    padding: 100px 100px;
}

#jumbotron h1{
    float: left;
    font-size: 68px;
    margin-bottom: 30px;
    margin-right: 175px;
    font-weight: 600;
}

#jumbotron p{
    /* background-color: brown; */
    font-size: 18px;
    /* margin-top: 20px; */
    margin-bottom: 30px;
}

.text{
    /* background-color: aqua; */
    /* float: left;
    width: 300px; */
}

.testo{
    /* background-color: rgb(192, 226, 43); */
    float: left;
    width: 350px;
}

.bottn{
    color: black;
    font-size: 15px;
    /* background-color: rgb(61, 140, 209) */
    padding:5px 10px;
    border-radius: 2em; 
    text-decoration: none;
}

#bottn-sotto{
    padding-bottom: 20px;
    /* padding-left: 30px; */
    text-align: left;
    float: left;
    
    padding: 5px 10px;
    background-color: aqua;
}

#frase{
    padding-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    /* text-align: center; */
    float: left;

}

.img {
     margin-left: 50px;
    float: left;
    width: 850px;
    height: 500px;
    /* margin-bottom: 100px; */
    /* background-color: blueviolet; */
}

#img-int{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#arrow{
    float: left;
    font-size: 25px;
}

/* *** main *** */

.cont{
    padding-top: 200px;
    /* background-color: aqua; */
    padding-bottom: 10px;
    padding-left: 15px;
}

.piano{
    font-size: 40px;
    margin-bottom: 50px;
}

.colonne{
    /* background-color: brown; */
    height: 600px;
    /* text-align: center; */


}

.cln{
    width: 30%;
    /* padding: 10px; */
    height: 100%;
    float: left;
    margin: 0 15px;
    /* background-color: rgb(106, 83, 126); */
    border: 1px solid lightgrey;
}

.sopra{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.contenuto-col {
    padding-top: 20px;
    padding-left: 20px;
}

.contenuto-col h2{
    padding-bottom: 15px;
}

/* .contenuto-col span{
    padding-bottom: 15px;
} */

.contenuto-col div{
    padding-bottom: 12px;
}

.ul-colonna ul li{
    list-style-type: none;
}

.Enterprise{  
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
    /* margin: 0 15px; */
    /* background-color: rgb(106, 83, 126); */
    border: 1px solid lightgrey; 
}

.team{
    padding: 5px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.sin-des{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: block;
    /* background-color: aqua; */
}

.ciccio{
    padding-left: 10px;
    float: left;
}

.bianco{
    padding: 5px 10px;
    /* border: 1px solid black; */
    color: white;
    text-decoration: none;
    float: right;
    background-color: blue;
}

.paperino{
    padding-left: 20px;
    margin: 20px 0;
    /* background-color: rgb(226, 43, 141); */
}

.minnie{
    padding-left: 20px;
    margin-top: 40px;
    /* background-color: rgb(43, 226, 55);  */
}

.riquadro-q{
    margin-top: 150px;
    width: 100%;
    height: 600px;
    /* background-color: aqua; */
}

.cinquanta-a{
    float: left;
    width: 60%;
    height: 100%;
    /* background-color: brown; */
    background-image: url(../img/partner.png);
    background-size: cover;
}

.cinquanta-b{
    float: right;
    width: 40%;
    height: 100%;
    /* background-color: rgb(159, 165, 42); */
    padding-left: 50px;
    padding-top: 60px;
    text-align: left;
}

.cinquanta-b h2 , p{
    margin-bottom: 20px;
    /* background-color: brown; */
}

.blue{
    padding: 5px 10px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.Business{
    font-size: 25px;
    padding: 10px 0;
    margin: 50px 0;
}

.card{
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
    
    /* background-color: brown; */
}

.card-image {
    width: calc(100% / 3 );
    height: 100%;
    float: left;  
    /* background-color: aqua; */
    /* border: 1px solid; */
    margin-bottom: 50px;
}

.card-img{
    width: 100%;
    float: left;
    height: 50%;
    /* background-color: blueviolet; */
    background-image: url(../img/business-feature-switching-tools.png);
    background-size: cover;
}

.card-img-2{
    width: 100%;
    float: left;
    height: 50%;
    /* background-color: blueviolet; */
    background-image: url(../img/business-feature-coordinate-it.png);
    background-size: cover;
}

.card-img-3{
    width: 100%;
    float: left;
    height: 50%;
    /* background-color: blueviolet; */
    background-image: url(../img/business-feature-multi-device.png);
    background-size: cover;
}

.card-img-4{
    width: 100%;
    float: left;
    height: 50%;
    /* background-color: blueviolet; */
    background-image: url(../img/business-feature-integrations-it.png);
    background-size: cover;
}

.card-img-5{
    width: 100%;
    float: left;
    height: 50%;
    /* background-color: blueviolet; */
    background-image: url(../img/business-feature-send-files-it.png);
    background-size: cover;
}

.card-img-6{
    width: 100%;
    float: left;
    height: 50%;
    /* background-color: blueviolet; */
    background-image: url(../img/business-feature-security.png);
    background-size: cover;
}

.card-text{
    float: left;
    width: 80%;
    height: 50%;
    padding-top:20px;
    /* background-color: rgb(171, 226, 43); */
}

.card-text h2{
    padding-bottom: 20px;
}

.school{  
    min-height: 800px;
    background-color: aqua;
    width: 100vw; 
    margin-bottom: 50px;
}

.scuole{
    width: 30vw;
    height: 30vw;
    background-color: brown;
    z-index: 9999;
    float: left;
}

.scuole-2{
    width:calc(100vw - 60vw);
    height: 30vw;
    background-color:blue;
    z-index: 9999;
    float: left;
}

.scl{
    width: 15vw;
    height: 15vw;
    background-color: purple;
    border: 1px solid grey;
    z-index: 9999;
    float: left;
}


/* *** footer *** */

/* *** debug *** */

/* .debug .container{
    background-color: red; 
    height: 100%;
    border: 1px solid black;
}  */

/* .debug .clearfix div{
    height: 80px;
    background-color: purple; 
}  */

/* .debug .clearfix nav{
    height: 80px;
    background-color: white; 
} */

/* .debug header{
    height: 100px;
    background-color: grey; 
 } */

/* .debug #jumbotron{
     background-color: yellow; 
} */

/* .debug main{
    height: 900px; 
    background-color: green;
} */

 .debug footer{
    height: 600px;
    background-color: blue;
}